.container {
    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 480px);
}

.title {
    margin: 16px 0;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1.2px;
    line-height: 1.15;
}


@media (min-width: 768px) {
    .content {

        min-height: calc(100vh - 375px);
    }

    .title {
        margin: 0;
        font-size: 48px;
    }
}
