.container {
    display: flex;
    flex-direction: column;
}
.search {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: #fff;
    z-index: 1;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 8px 16px;
    width: 100%;
    gap: 8px;
}

.content {
    margin-top: 108px;
}
