.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    padding: 8px 16px;
    gap: 8px;
    max-width: 1280px;
}
.link {
    -webkit-tap-highlight-color: transparent;
}
.watermark {
    box-sizing: content-box;
    display: flex;
    height: 24px;
    padding: 8px 0;
}

.favorites {
    display: flex;
    align-items: center;
    gap: 4px;
}

.heart {
    width: 24px;
    height: 24px;
    color: var(--color-primary);
    fill: var(--color-primary);
}


.number {
    font-size: 14px;
    transition: all 0.3s ease;
    min-width: 14px;
}

.number--is-loading {
    filter: blur(4px);
}

